body {
  background-color: #f8f9fa;
  color: #333333; /* Koyu metin rengi */
}

.navbar {
  background-color: #4a76a8;
  border-bottom: 2px solid #3a5a78;
}

.nav-link {
  color: #ffffff;
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
.nav-link:hover,
.dropdown-item:hover {
  background-color: #566482;
  color: #dcdcdc;
}

.nav-greeting {
  color: #ffffff;
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
.nav-link:hover {
  background-color: #3a5a78;
  color: #dcdcdc;
}
.dropdown-item {
  color: #ffffff;
  font-family: "Arial", sans-serif;
}
.dropdown-item:hover {
  color: #ffffff;
  font-family: "Arial", sans-serif;
}
.dropdown-menu {
  background-color: #2b3035; /* Pastel mavi tonu */
}
.dropdown-menu a:hover {
  background-color: #3a5a78;
  color: #dcdcdc;
}
@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }
}
.float-right {
  float: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.login-container {
  width: 350px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #4cb9e7;
}

.login-container.register {
  width: 550px !important;
}

.login-container.save-advert {
  width: 1350px !important;
}
.save-advert-wid {
  width: 450px !important;
}

.login-container {
  max-width: 100%;
  width: auto;
  padding: 40px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 20px;
}

.form-control {
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.form-control,
.btn {
  border-radius: 8px; /* Daha yuvarlak köşeler */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hafif gölge efekti */
}
.btn {
  color: #fff;
  background-color: #748a9c; /* Açık mavi tonu */
  border-color: #849db1;
  transition: background-color 0.2s ease-in-out;
  border-radius: 5px;
}

.btn:hover {
  background-color: #6d7f97; /* Hover durumunda koyu mavi tonu */
  border-color: #566482;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Butonun üzerine gelindiğinde gölge efekti */
}

.table {
  --bs-table-bg: #f8f9fa; /* Tablo arka planı için açık gri */
  --bs-table-border-color: #ced4da; /* Border rengi açık gri */
  --bs-table-color: #333333;
  margin-top: 20px;
  border-collapse: collapse; /* Tablo hücreler arasındaki boşlukları kaldır */
  width: 100%;
}
.table th a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.table th a:hover {
  color: #f5b301; /* Bağlantı üzerine gelince renk değişikliği */
}
.table th,
.table td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd; /* Hücreler arası çizgi */
}

.table th {
  background-color: #f5f5f5; /* Başlık arkaplan rengi */
  color: #333;
}

.table-img {
  max-width: 90px;
  max-height: 50px;
}
.td-photo {
  width: 100px;
}
.td-title {
  width: 200px;
}
.td-button {
  width: 120px;
  text-align: center;
}

.main-header {
  text-align: center;
  padding: 100px 0;
}

.featured-adverts,
.how-it-works {
  padding: 50px 0;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.carousel-item img {
  max-height: 500px; /* Maksimum yükseklik değerini sayfanın yapısına göre ayarlayın */
  width: auto; /* Genişliği otomatik ayarla, aspect ratio korunur */
  margin: auto; /* Yatayda merkezleme yapar */
}

#featuredCarousel {
  max-height: 500px;
  overflow: hidden;
}

.comments-ratings {
  margin-top: 20px;
}

.comment-rating {
  color: #f5b301; /* Yıldız rengi */
  font-size: 18px;
}

.comment-list {
  margin-top: 10px;
}

.comment-rating-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.comment-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.comment-rating {
  color: #f60;
  margin-top: 5px;
  font-size: 18px;
}

.comment-text {
  margin-top: 10px;
}

.no-comments {
  color: #999;
}

.form-group.rating {
  display: flex;
  align-items: center;
}

.rating-stars {
  display: flex;
  margin-left: 10px;
}
.rating-stars input {
  display: none;
}

.rating-stars label {
  cursor: pointer;
  color: #ccc;
  transition: color 0.2s;
}

.rating-stars label:hover,
.rating-stars label:hover ~ label,
.rating-stars input:checked ~ label {
  color: #f5b301;
}

.rating-stars label:active {
  transform: scale(0.8);
}
.rating-stars label {
  padding: 1px;
  font-size: 25px;
}

.rating-stars {
  margin-left: 0px;
}

.rating-stars label {
  padding: 5px;
  font-size: 30px;
}

.rating-stars {
  direction: rtl;
}

.rating-stars label {
  direction: ltr;
}

/* Arama Kutusu Stili */
.search-container {
  float: left;
  margin-bottom: 20px;
  text-align: center;
}

.search-container input[type="text"] {
  width: 300px; /* Arama kutusunun genişliği */
  padding: 10px;
  margin-right: -4px; /* Düğme ile arasındaki boşluğu kaldır */
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px; /* Sol tarafta yuvarlak köşeler */
}

.search-container button {
  padding: 10px;
  background: #f5b301; /* Düğme arkaplan rengi */
  color: white;
  border: none;
  border-radius: 0 4px 4px 0; /* Sağ tarafta yuvarlak köşeler */
  cursor: pointer;
}

.search-container button:hover {
  background-color: #e49b0f; /* Düğme üzerine gelince renk değişikliği */
}

.site-footer {
  background-color: #f8f9fa;
  color: #333;
  padding: 40px 0;
  border-top: 1px solid #e7e7e7;
}
.site-footer ul {
  list-style: none;
  padding: 0;
}
.site-footer ul li a {
  color: #333;
  text-decoration: none;
}
.site-footer ul li a:hover {
  text-decoration: underline;
}
.footer-about,
.footer-nav,
.footer-contact {
  margin-bottom: 20px;
}
.footer-about h3,
.footer-nav h3,
.footer-contact h3 {
  margin-bottom: 10px;
}
.text-center {
  text-align: center;
}

/* style-contact.css */
.site-footer {
  left: 0;
  bottom: 0; /* Footer'ı ekranın altına yerleştir */
  width: 100%; /* Footer'ın tam sayfa genişliğine uzanmasını sağlar */
  background-color: #f8f9fa;
  color: #333;
  padding: 5px 0;
  border-top: 1px solid #e7e7e7;
  /* Footer içeriğinin altında ekstra boşluk oluşturmak için */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Alt gölge ekler */
}

.site-footer ul {
  list-style: none;
  padding: 0;
}

.site-footer ul li a {
  color: #333;
  text-decoration: none;
}

.site-footer ul li a:hover {
  text-decoration: underline;
}

.footer-about,
.footer-nav,
.footer-contact {
  margin-bottom: 20px;
}

.footer-about h3,
.footer-nav h3,
.footer-contact h3 {
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

.price-stars {
  display: flex;
  align-items: center;
}

.price-stars h4 {
  margin-right: 10px;
}
.average-stars {
  display: inline-block;
  margin-left: 10px; /* İstenilen boşluğu ayarlayın */
  /* Gerekli diğer stil özellikleri */
  color: #f5b301;
  /* font size */
  font-size: 28px;
}

.contact-container {
  text-align: left; /* Yazıları sola hizala */
  padding: 20px;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 30px;
}

.contact-container h1 {
  margin-top: 0;
}

.contact-container p {
  margin-bottom: 20px;
}

.contact-container form {
  margin-top: 20px;
}

.contact-container .form-group {
  margin-bottom: 15px;
}

.contact-container label {
  display: block;
  margin-bottom: 5px;
}

.contact-container input[type="text"],
.contact-container input[type="email"],
.contact-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-container button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #333;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-container button[type="submit"]:hover {
  background: #555;
}
